@inherits LayoutComponentBase
<div class="page">
    <main>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9276535985221153"
             crossorigin="anonymous"></script>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
